h1 {
	font-family: Helvetica, Arial, sans-serif; 
}

svg {
	padding: 20px 20px 20px 20px;
	background: #2e75c4;
    overflow: visible;
    width: 95%;
    align: center;
}

svg line, svg circle, svg path {
    stroke: #fff;
    fill: none;
}

div#footer {
	padding: 100px 20px 20px 20px;
}

div#footer table {
	width: 100%;
}

button {
	margin: 5px;
	padding: 5px;
	font-size: 12pt;
}